
Images.xcassets/AppIcon.appiconset/birthstone0103-1.png

*.png

*.xib

*.json

iSeed.xcdatamodeld/.xccurrentversion

iSeed.xcdatamodeld/iSeed.xcdatamodel/contents

*.gif

*.plist

thirdlibs/ShareSDK/UI/ShareSDKShareActionSheet.framework/ShareSDKShareActionSheet

thirdlibs/ShareSDK/ShareSDK.framework/ShareSDK
